body {
    background-color: #dcd4d2;
    font-size: 25px;
    font-family: "Raleway";
}

.navbar-brand {
    font-size: 50px;
    color: #e65401 !important;
    padding: 15px;
}

.navbar-brand:hover, .nav-item pre:hover {
    color: #fef200 !important;
}

.jumbotron {
    background-color: #e65401;
    margin: 50px;
    padding: 20px;
    color: #0c1f38;  
}

.jumbotron p {
    font-size: 30px;
}

p {
    padding: 15px 0px;
}

.head-img {
    box-shadow: 5px 5px 5px #fef200;
}

.eda img {
    max-width: 100%;
    box-shadow: 5px 5px 5px #fef200;
}

input, select {
    color: #e65401;
    font-weight: bolder;
}

.nav-item pre {
    font-size: 35px;
    color: #dcd4d2;
    padding-top: 15px;
    padding-right: 15px;
}

.below {
    background-color: #0c1f38;
    color: #a7e0d7;
    padding: 15px;
    font-size: 30px;
}

.below i {
    font-size: 50px;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + i {
    cursor: pointer;
    font-size: 100px;
    padding: 10px;
}
  
/* CHECKED STYLES */
[type=radio]:checked + i {
    border: 5px solid #e65401;
    border-radius: 10px;
}

.click {
    background-color: #e65401;
    font-size: 50px;
    color: #0c1f38;
}