<!-- Begin Standard Content -->
{% extends "base.html" %} 
{% block content %}
<!-- End Standard Content -->


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row header-row r1">
          <h1 class="display-1 text-center">Exploratory Data Analysis</h1>
          <p class="lead text-center">
            Curious about the data behind the model? So were we! We have included different charts created from the raw data to fill your data-curious mind.
          </p>
        </div>
      </div>
    </div>
    
    <div class="container below eda">

      <div class="row mt-5">
        <div class="col-8 d-flex justify-content-center">
          <img src="../static/images/dist_of_charges.PNG" alt="distribution of charges">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <p>Distribution of Charges!</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/region_and_smoking_v_cost.PNG" alt="regional breakdown of cost by smoking preference">
        </div>
      </div>
      <p>Distribution of Charges!</p>

      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center">
          <p>Distribution of Charges!</p>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <img src="../static/images/charges_by_age.PNG" alt="charges by age group">
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/region_and_age_v_cost.PNG" alt="regional breakdown of costs by age">
        </div>
      </div>
      <p>Distribution of Charges!</p>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/region_and_bmi_v_cost.PNG" alt="regional breakdown of costs by bmi">
        </div>
      </div>
      <p>Distribution of Charges!</p>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/correlation.PNG" alt="correlation between variables">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <p>Distribution of Charges!</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/features.PNG" alt="feature importances">
        </div>
        <div class="col-4 d-flex justify-content-center">
          Distribution of Charges!
        </div>
      </div>

    </div>

<!-- Begin Standard Content -->
{% endblock %}
<!-- End Standard Content -->