<!-- Begin Standard Content -->
{% extends "base.html" %} 
{% block content %}
<!-- End Standard Content -->


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row header-row r1">
          <h1 class="display-1 text-center">Exploratory Data Analysis</h1>
          <p class="lead text-center">
            Curious about the data behind the model? So were we! We have included different charts created from the raw data to fill your data-curious mind.
          </p>
        </div>
      </div>
    </div>
    
    <div class="container below eda">

      <div class="row mt-5">
        <div class="col-8 d-flex justify-content-center">
          <img src="../static/images/dist_of_charges.PNG" alt="distribution of charges">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <p>Our data is highly concentrated on charges under $10,000, but charges range as high as $50,000. Very pricey!</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center">
          <p>Looking at a correlation matrix of all the variables, it is evident that the strongest correlation of charges is smoker versus non-smoker.  The next strongest correlation is age, and the third strongest is BMI. The rest of the variables have a very weak correlation to charges.</p>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <img src="../static/images/correlation.PNG" alt="correlation between variables">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-5 d-flex justify-content-center">
          <img src="../static/images/features.PNG" alt="feature importances">
        </div>
        <div class="col-7 d-flex justify-content-center">
          <p>When looking at the feature importances to charges within the model, it is again evident that smoker, BMI, and age are the most influential, but BMI and age have switched places of importance. Children, region, and sex all have a negligable influence, which is also supported by the correlation matrix.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/region_and_smoking_v_cost.PNG" alt="regional breakdown of cost by smoking preference">
        </div>
      </div>
      <p>Charges in the Northeast and Northwest average around the lower end at under $10,000 for non-smokers and $30,000 for smokers. The Southwest falls in the middle with roughly similar costs for non-smokers, but for smokers, costs come out around $32,000. The Southeast's averages for non-smokers is similar again, but with smokers costs at $35,000! Overall, the differences between regions are very small and can probably be explained by other variables, while the differences between smoker and non-smoker are very clear.</p>

      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <img src="../static/images/region_and_bmi_v_cost.PNG" alt="regional breakdown of costs by bmi">
        </div>
      </div>
      <p>While there doesn't appear to be any great differences between region, it is pretty clear that higher BMIs are linked with higher charges.</p>

      <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center">
          <p>Overall differences of charges between age groups is evident, but not extreme. For the purposes here, young adult ranges from 17 to 35 and senior adult ranges to 55 followed by elder for all other ages.</p>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <img src="../static/images/charges_by_age.PNG" alt="charges by age group">
        </div>
      </div>

    </div>

<!-- Begin Standard Content -->
{% endblock %}
<!-- End Standard Content -->